*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #a21caf;
}

img {
  width: 40px;
  height: 40px;
}

.container {
  display: grid;
  grid-template: 3fr 10fr / 1fr 4fr;
  height: 100%;
  width: 100%;
  overflow: hidden auto;
}

.header {
  background-color: #fdf4ff;
  display: grid;
  grid-template-rows: 70px 60px;
  padding: 20px;
}

.header-top {
  display: flex;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.header .search-bar {
  flex: 2;
  display: flex;
  gap: 20px;
  align-items: center;
}

.search-bar input {
  flex: 4;
  height: 10px;
  border-radius: 13px;
  background-color: #fae8ff;
  border: 1px solid;
  padding: 20px;
  font-size: 16px;
}

.header .info-bar {
  flex: 1;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.user-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.user-info .user-profile {
  display: grid;
  grid-template: 0.1fr 0.1fr / 0.5fr 3fr;
}

.user-profile img {
  height: 60px;
  width: 60px;
  grid-row: 1 / 3;
}

.user-info .username {
  font-size: 20px;
  font-weight: bold;
}

.user-info .greeting {
  align-self: end;
}

.user-info .user-buttons {
  display: grid;
  grid-template: 0.1fr / 1fr 1fr;
  gap: 40px;
}

.user-buttons button {
  height: 60px;
  width: 160px;
  border: 1px solid;
  border-radius: 10px;
  background-color: #a21caf;
  color: white;
  font-size: 16px;
  font-family: bold;
}

.user-buttons button[class="new"] {
  justify-self: end;
}

.sidebar {
  background-color: #f0abfc;
  grid-area: 1 / 1 / 3 / 2;
  display: grid;
  grid-template-rows: 0.05fr 0.2fr 0.2fr;
  gap: 25px;
  padding: 10px;
}

.sidebar > .dashboard-logo,
.sidebar > .primary-options > *,
.sidebar > .secondary-options > * {
  display: grid;
  grid-template: 50px / 1fr 2fr;
  gap: 10px;
  align-items: center;
}

.sidebar img {
  justify-self: end;
}

.dashboard-logo p {
  font-size: 28px;
}

.primary-options img,
.secondary-options img {
  height: 30px;
  width: 30px;
}

.main-content {
  background-color: #fae8ff;
  display: grid;
  grid-template: repeat(2, 1fr) / 3fr 1fr;
  padding: 20px;
  gap: 20px;
  font-size: 16px;
}

.main-content > .your-projects {
  grid-row: 1 / 3;
}

.main-content .section-title {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 24px;
}

.content-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: stretch;
  gap: 20px;
}

.content-section > .content-card {
  background-color: #e879f9;
  border: none;
  height: 250px;
  padding: 25px;
  border-radius: 10px;

}

.content-card .title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.content-card input {
  height: 25px;
  width: 25px;
}

.content-card .content-buttons {
  margin-top: 45px;
  display: grid;
  grid-template: 25px / repeat(3, 25px);
  justify-content: end;
  gap: 20px;
}

.announcement-section {
  display: grid;
  grid-template-rows: 1fr 1fr 0.8fr;
  gap: 20px;
  background-color: #e879f9;
  padding: 20px;
}

.announcement-card .announcement-title {
  font-weight: bold;
}

.announcements .card-separator {
  border: 1px solid grey;
  height: 1px;
  margin-top: 20px;
}

.trending-section {
  display: grid;
  grid-template: repeat(3, 1fr);
  background-color: #e879f9;
  padding: 20px;
  gap: 20px;
}

.trending-card {
  display: grid;
  grid-template: repeat(2, 1fr) / 1fr 3fr;
}

.trending-card > img {
  grid-row: 1 / 3;
  justify-self: end;
  margin-right: 10px;
}

.trending-card .username {
  font-weight: 600;
}

.trending-card .name {
  color: rgba(0, 0, 0, 0.81);
}